body {
  background-color: #eeeeee;
  color: #030303;
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px;
}

.content {
  background-color: #030303;
  color: #eeeeee;
  display: flex;
  padding: 15px;
}
.tofu-and-ellie{
  width:40%;
  padding-top:20px;
  padding-right:20px;
  float:right;
}
p {
  margin: 0 15px;
}
